<div class="bib" id="Barua:2018:CTC:3243176.3243196"><pre>
@inproceedings{<a href="{{ include.url }}#Barua:2018:CTC:3243176.3243196">Barua:2018:CTC:3243176.3243196</a>,
  author = {Barua, Prithayan and Shirako, Jun and Sarkar, Vivek},
  title = {Cost-driven Thread Coarsening for GPU Kernels},
  booktitle = {Proceedings of the 27th International Conference on Parallel Architectures and Compilation Techniques},
  series = {PACT '18},
  year = {2018},
  isbn = {978-1-4503-5986-3},
  location = {Limassol, Cyprus},
  pages = {32:1--32:14},
  articleno = {32},
  numpages = {14},
  url = {<a href="http://doi.acm.org/10.1145/3243176.3243196">http://doi.acm.org/10.1145/3243176.3243196</a>},
  doi = {10.1145/3243176.3243196},
  acmid = {3243196},
  publisher = {ACM},
  address = {New York, NY, USA}
}
</pre></div>

