


<li class="bib" id="Barua:2018:CTC:3243176.3243196">

<b>Cost-driven Thread Coarsening for GPU Kernels</b>.
 Prithayan Barua, Jun Shirako, and Vivek Sarkar.
 In <em>Proceedings of the 27th International Conference on Parallel
  Architectures and Compilation Techniques</em>, PACT '18, pages 32:1--32:14, New
  York, NY, USA, 2018. ACM.
[&nbsp;<a href="{{ include.url }}#Barua:2018:CTC:3243176.3243196">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/3243176.3243196">DOI</a>&nbsp;| 
<a href="http://doi.acm.org/10.1145/3243176.3243196">http</a>&nbsp;]

</li>