<div class="bib" id="Barua:2018:CTC:3243176.3243196"><pre>
@inproceedings{<a href="{{ include.url }}#Barua:2018:CTC:3243176.3243196">Barua:2018:CTC:3243176.3243196</a>,
  author = {Barua, Prithayan and Shirako, Jun and Sarkar, Vivek},
  title = {Cost-driven Thread Coarsening for GPU Kernels},
  booktitle = {Proceedings of the 27th International Conference on Parallel Architectures and Compilation Techniques},
  series = {PACT '18},
  year = {2018},
  isbn = {978-1-4503-5986-3},
  location = {Limassol, Cyprus},
  pages = {32:1--32:14},
  articleno = {32},
  numpages = {14},
  url = {<a href="http://doi.acm.org/10.1145/3243176.3243196">http://doi.acm.org/10.1145/3243176.3243196</a>},
  doi = {10.1145/3243176.3243196},
  acmid = {3243196},
  publisher = {ACM},
  address = {New York, NY, USA}
}
</pre></div>

<div class="bib" id="8735529"><pre>
@inproceedings{<a href="{{ include.url }}#8735529">8735529</a>,
  author = {N. {Srivastava} and H. {Rong} and P. {Barua} and G. {Feng} and H. {Cao} and Z. {Zhang} and D. {Albonesi} and V. {Sarkar} and W. {Chen} and P. {Petersen} and G. {Lowney} and A. {Herr} and C. {Hughes} and T. {Mattson} and P. {Dubey}},
  booktitle = {2019 IEEE 27th Annual International Symposium on Field-Programmable Custom Computing Machines (FCCM)},
  title = {T2S-Tensor: Productively Generating High-Performance Spatial Hardware for Dense Tensor Computations},
  year = {2019},
  volume = {},
  number = {},
  pages = {181-189},
  abstract = {We present a language and compilation framework for productively generating high-performance systolic arrays for dense tensor kernels on spatial architectures, including FPGAs and CGRAs. It decouples a functional specification from a spatial mapping, allowing programmers to quickly explore various spatial optimizations for the same function. The actual implementation of these optimizations is left to a compiler. Thus, productivity and performance are achieved at the same time. We used this framework to implement several important dense tensor kernels. We implemented dense matrix multiply for an Arria-10 FPGA and a research CGRA, achieving 88% and 92% of the performance of manually written, and highly optimized expert (ninja") implementations in just 3% of their engineering time. Three other tensor kernels, including MTTKRP, TTM and TTMc, were also implemented with high performance and low design effort, and for the first time on spatial architectures."},
  keywords = {Optimization;Computer architecture;Kernel;Field programmable gate arrays;Programming;Hardware;Compiler;Domain Specific Language;High Level Synthesis;Spatial Computing;FPGA;CGRA},
  doi = {10.1109/FCCM.2019.00033},
  issn = {2576-2621},
  month = {April}
}
</pre></div>

<div class="bib" id="1902.06570"><pre>
@misc{<a href="{{ include.url }}#1902.06570">1902.06570</a>,
  author = {Girish Mururu and Chris Porter and Prithayan Barua and Santosh Pande},
  title = {Binary Debloating for Security via Demand Driven Loading},
  year = {2019},
  eprint = {arXiv:1902.06570}
}
</pre></div>

<div class="bib" id="1909117"><pre>
@inproceedings{<a href="{{ include.url }}#1909117">1909117</a>,
  author = {Prithayan Barua and Jun Shirako and  Whitney Tsang and Jeeva Paudel and Wang Chen and Vivek Sarkar},
  editor = {},
  title = {OMPSan: Static Verification of OpenMPs Data Mapping constructs},
  booktitle = {IWOMP 2019, OpenMP: Conquering the Full Hardware Spectrum},
  year = {2019},
  publisher = {},
  address = {},
  pages = {}
}
</pre></div>

