


<li class="bib" id="Barua:2018:CTC:3243176.3243196">

<b>Cost-driven Thread Coarsening for GPU Kernels</b>.
 Prithayan Barua, Jun Shirako, and Vivek Sarkar.
 In <em>Proceedings of the 27th International Conference on Parallel
  Architectures and Compilation Techniques</em>, PACT '18, pages 32:1--32:14, New
  York, NY, USA, 2018. ACM.
[&nbsp;<a href="{{ include.url }}#Barua:2018:CTC:3243176.3243196">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/3243176.3243196">DOI</a>&nbsp;| 
<a href="http://doi.acm.org/10.1145/3243176.3243196">http</a>&nbsp;]

</li>

<li class="bib" id="8735529">

<b>T2S-Tensor: Productively Generating High-Performance Spatial Hardware for
  Dense Tensor Computations</b>.
 N.&nbsp;Srivastava, H.&nbsp;Rong, P.&nbsp;Barua, G.&nbsp;Feng, H.&nbsp;Cao,
  Z.&nbsp;Zhang, D.&nbsp;Albonesi, V.&nbsp;Sarkar, W.&nbsp;Chen, P.&nbsp;Petersen,
  G.&nbsp;Lowney, A.&nbsp;Herr, C.&nbsp;Hughes, T.&nbsp;Mattson, and P.&nbsp;Dubey.
 In <em>2019 IEEE 27th Annual International Symposium on
  Field-Programmable Custom Computing Machines (FCCM)</em>, pages 181--189, April
  2019.
[&nbsp;<a href="{{ include.url }}#8735529">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/FCCM.2019.00033">DOI</a>&nbsp;]
<blockquote><font size="-1">
We present a language and compilation framework for productively generating high-performance systolic arrays for dense tensor kernels on spatial architectures, including FPGAs and CGRAs. It decouples a functional specification from a spatial mapping, allowing programmers to quickly explore various spatial optimizations for the same function. The actual implementation of these optimizations is left to a compiler. Thus, productivity and performance are achieved at the same time. We used this framework to implement several important dense tensor kernels. We implemented dense matrix multiply for an Arria-10 FPGA and a research CGRA, achieving 88% and 92% of the performance of manually written, and highly optimized expert (ninja") implementations in just 3% of their engineering time. Three other tensor kernels, including MTTKRP, TTM and TTMc, were also implemented with high performance and low design effort, and for the first time on spatial architectures."
</font></blockquote>
<p>
</li>

<li class="bib" id="1902.06570">

<b>Binary Debloating for Security via Demand Driven Loading</b>, Girish Mururu,
  Chris Porter, Prithayan Barua, and Santosh Pande.
 2019.
[&nbsp;<a href="{{ include.url }}#1902.06570">bib</a>&nbsp;| 
<a href="http://arxiv.org/abs/arXiv:1902.06570">arXiv</a>&nbsp;]

</li>

<li class="bib" id="1909117">

<b>OMPSan: Static Verification of OpenMPs Data Mapping constructs</b>.
 Prithayan Barua, Jun Shirako, Whitney Tsang, Jeeva Paudel, Wang Chen,
  and Vivek Sarkar.
 In <em>IWOMP 2019, OpenMP: Conquering the Full Hardware Spectrum</em>,
  2019.
[&nbsp;<a href="{{ include.url }}#1909117">bib</a>&nbsp;]

</li>